.cardName {
    font-family: "Gill Sans", sans-serif;
    color: black;
    font-weight: bold;
}

.cardRarity {
    font-family: "Andale Mono", monospace;
    color: darkcyan;
}

.cardText {
    font-family: American Typewriter, serif;
    font-size: 15px;
    color:rgb(89, 15, 119);
    inline-size: 200px;
    text-align: center;
    margin: auto;
    width: 32%;
    padding: 10px;
}

.cardSetName {
    font-family: "Optima", sans-serif;
    color: gray;
}