
.cardContainer {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color:black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    font-family: "Luminari", fantasy;
    font-size: 1.25rem;
    font-size: 40px;
    letter-spacing: 0.0075em;
}

.searchBarTextField {
    background-color: lightblue;
}

.searchBarButton {
    font-family: cursive;
    font-weight: 600;
}

.scrollResults {
    background-color: beige;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; */
}