
.searchBanner {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color:black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    font-family: fantasy;
    font-size: 1.25rem;
    font-size: 30px;
    letter-spacing: 0.0075em;
}

.bannerTitle {

}

.searchBar {

}